<!DOCTYPE html>
<html lang="en">
    
<%- include('../partials/head', {title: "- Crear Producto", cssFile: "producto", cssHome: ""}) %>

<body>
    <main class="main-producto">
        <div class="contenedor-form">
            <img src="/images/Logo.png" alt="Logo" class="logo">

            <!-- el form me indica que es un formulario, action es donde se va a guardar el formulario
            y el method es el metodo, get/post/put etc. Cuando aprieto enviar post envia a guardar-->
            <div class="form">
                <h2 class="title">Crear Producto</h2>
                
                <form action="/products" method='POST' class="contenedor-producto" enctype="multipart/form-data">
                    <div class="contenedor-datos">      
                            <label for="nombre" class="label">Nombre del producto</label>
                            <input type="text" name="nombre" class="input" placeholder="Nombre del producto" value="<%= locals.oldData && oldData.nombre %>">
                            <% if(locals.errors && errors.nombre) { %>
                                <span style="color: red"><%= errors.nombre.msg %></span>
                            <% } %> 
                            

                            <label for="marca" class="label">Marca del Producto</label>
                            <input type="text" name="marca" class="input" placeholder="Marca del producto" value="<%= locals.oldData && oldData.marca %>">
                            <% if(locals.errors && errors.marca) { %>
                                <span style="color: red"><%= errors.marca.msg %></span> 
                            <% } %>
                                                      
                        
                            <label for="categoria">Categoría</label>

                            <select name="categoria">
                                <option value="">Seleccionar Categoria</option>
                                <% const options = ['Celulares', 'Monitores & TVs', 'Tablets', 'Notebooks', 'Hardware', 'Accesorios']; %>
                                <% for (const option of options) { %>
                                    <option value="<%= option %>" <%= locals.oldData && (oldData.categoria == option) ? 'selected' : '' %>><%= option %></option>
                                  <% } %>
                            </select>
                            <% if(locals.errors && errors.categoria) { %>
                                <span style="color: red"><%= errors.categoria.msg %></span> 
                            <% } %>
                            

                            <!--! faltan probar validaciones -->
                            <label for="precio">Precio</label>
                            <input type="text" name="precio" placeholder="Colocar los numeros sin comas ni puntos. Ej: 2400">
                            <span class="feedback-negativo">El precio es obligatorio</span>
                            
                            <label for="porcentaje" class="label">Porcentaje de descuento</label>
                            <input type="text" name="porcentaje" placeholder="Si no tiene descuento colocar un cero. Ej: 0">
                            <span class="feedback-negativo">El porcentaje es obligatorio</span>

                            <label for="esDestacado">¿Es un producto destacado?</label>
                            <select name="esDestacado">
                                <option value="" selected>Seleccionar Opcion</option>
                                <option value="true">Si</option>
                                <option value="false">No</option>
                            </select>

                            <label for="imagen-principal">Imagen Principal</label>
                            <input type="file" class="input-imagen" name="imagen-principal" accept=".jpg, .jpeg, .png" required>

                            <label for="imagenes-extra">Imagenes Extra</label>
                            <input type="file" class="input-imagen" name="imagenes-extra" accept=".jpg, .jpeg, .png" multiple>
                            
                    </div>

                    <label class="textarea-label" for="descripcion">Descripción del Producto</label>
                    <textarea name="descripcion" cols="30" rows="10" placeholder="Escribir titulo y separado con un enter la descripcion correspondiente"></textarea>

                    <label class="textarea-label" for="caracteristicas">Caracteristicas del producto</label>
                    
                    <div>
                        <div class="caja-caracteristicas">
                            <label for="textarea-label">Caracteristica 1:</label><input type='text' name="caracteristicas"  placeholder="titulo de la caracteristica">
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                            <label for="textarea-label">Descripcion 1:</label><input name="caracteristicas"  placeholder="descripcion de la caracteristica">
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                        </div>
                        <div class="caja-caracteristicas">
                            <label for="textarea-label">Caracteristica 2:</label><input type='text' name="caracteristicas"  placeholder="titulo de la caracteristica">
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                            <label for="textarea-label">Descripcion 2:</label><input name="caracteristicas"  placeholder="descripcion de la caracteristica">
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                        </div>
                        <div class="caja-caracteristicas">
                            <label for="textarea-label">Caracteristica 3:</label><input type='text' name="caracteristicas"  placeholder="titulo de la caracteristica">
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                            <label for="textarea-label">Descripcion 3:</label><input name="caracteristicas"  placeholder="descripcion de la caracteristica">
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                        </div>
                        <div class="caja-caracteristicas">
                            <label for="textarea-label">Caracteristica 4:</label><input type='text' name="caracteristicas"  placeholder="titulo de la caracteristica">
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                            <label for="textarea-label">Descripcion 4:</label><input name="caracteristicas"  placeholder="descripcion de la caracteristica">
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="boton-submit">Crear Producto</button>
                    </div>
                        
                </form>
               
                
                <hr>
            
                <div class="footer-form">
                    <a href="#" class="ayuda"><i class="bi bi-question-circle"></i> ¿Necesitas ayuda?</a>
                    <a href="/" class="volver-tienda">Volver a la tienda</i></a>
                    <p class="copyright">Copyright © 2023</p>
                </div>
            </div>             
        </div>
    </main>
</body>
</html>