<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: "- Detalle Producto", cssFile: "detalleProducto", cssHome: "styles"}) %>

<body>
    <!--  !HEADER  -->
    <%- include('../partials/header') %>
    <!-- * FIN HEADER -->

    <!-- ! MAIN  -->
    <main id="main-detalle">

        <div class="breadcrums">
            <h4>Home</h4>
            <i class="bi bi-chevron-right"></i>
            <h4><%= productID.categoria %></h4>
            <i class="bi bi-chevron-right"></i>
            <h4><%= productID.marca %></h4>
        </div>

        <h2 id="nombre-producto"><%= productID.nombre %></h2>

        <div class="info-principal">
            <div class="fotos-producto">
                <div class="foto-producto-principal">
                    <img src="<%= productID.imagen %>" class="foto-principal">
                </div>
                <div class="foto-producto-lateral">
                    <% for (imagen of productID.imagenes) {%>
                        <img src="<%= imagen %>" class="foto-lateral">
                    <% } %>
                </div>
            </div>

            <hr class="linea-imagen">

            <div class="detalle-producto">
                <h3><%= productID.nombre %></h3>
                <% if (productID.enDescuento) {%>
                    <% precioDescuento = calcularDescuento(parseInt(productID.precioOriginal), parseInt(productID.descuento))%>
                    <h4 class="precio-original"><%= "$" + productID.precioOriginal %></h4>
                    <h4><%= "$" + precioDescuento %></h4>
                <% } else { %>
                    <h4><%= productID.precioOriginal %></h4>
                <% } %>
                <h5><a href="#">Ver los medios de pago</a></h5>
                <p><i class="bi bi-shield-fill-check"></i> Garantia de 12 meses</p>
                <p><i class="bi bi-check2"></i> Stock disponible</p>
                <p><i class="bi bi-truck"></i> Envios a todo el país</p>
                <div class="botones-detalle-producto">
                    <a href="../products/carrito" class="boton-comprarAhora">Comprar ahora</a>
                    <a href="#" class="boton-agregarCarrito">Agregar al carrito</a>
                </div>    
            </div>
        </div>

        <hr>

        <!--  !FALTA HACER  -->
        <div class="caracteristicas-producto">
            <h3>Características de <%= productID.nombre %></h3>
            <div>
                <div class="caracteristicas-arriba">
                    <p><i class="bi bi-pip"></i> Resolución: 4K</p>
                    <p class="texto-derecha"><i class="bi bi-tv"></i> Tipo de pantalla: LED</p>
                </div>
                <div class="caracteristicas-abajo">
                    <p class="descripcion-corta"><i class="bi bi-google-play"></i> Aplicaciones integradas</p>
                    <p class="descripcion-larga"><i class="bi bi-google-play"></i> Aplicaciones integradas: Web browser, Gallery, Netflix, Prime Video, Apple TV, YouTube</p>
                    <p class="texto-derecha"><i class="bi bi-hdmi"></i> Cantidad de puertos HDMI: 3</p>
                </div>
            </div>
        </div>

        <hr>

        <div class="descripcion-producto">
            <h2>Descripción</h2>
            <% for (descripcion of productID.descripcion) {%>
            <section>
                <h4><%= descripcion.titulo %></h4>
                <p><%= descripcion.texto %></p>
            </section>
            <% } %>
        </div>

    </main>

    <!--  !FOOTER   -->
    <%- include('../partials/footer') %>
    <!-- * FIN FOOTER -->
</body>
</html>