<!DOCTYPE html>
<html lang="en">
    
<%- include('../partials/head', {title: "- Editar Producto", cssFile: "producto", cssHome: ""}) %>

<body>
    <main class="main-producto">
        <div class="contenedor-form">
            <img src="/images/Logo.png" alt="Logo" class="logo">

            <div class="form">
                <h2 class="title">Editar Producto</h2>
                
                <form action="/products/editarProducto/<%= productID.id %>?_method=PUT" method='POST' enctype="multipart/form-data" class="contenedor-producto">
                    <div class="datos">      
                        <div class="contenedor-datos1">
                            <label for="nombre" class="label">Nombre del producto</label>
                            <input type="text" name="nombre" class="input" placeholder="Nombre del producto" value="<%=productID.name%>" required>
                            <span class="feedback-negativo">El nombre es demasiado corto</span>

                            <label for="marca" class="label">Marca del Producto</label>
                            <input type="text" name="marca" class="input" placeholder="Marca del producto" value="<%=productID.brand%>" required>
                            
                            <label for="categoria">Categoría</label>
                            <select name="categoria">
                                <%- include('../partials/categorias-productos') %>
                            </select>
                        </div>

                        
                        <div class="contenedor-datos2">

                            <label for="precio">Precio</label>
                            <input type="number" name="precio" placeholder="$00,00" value="<%=productID.originalPrice%>" required>
                            
                                <label for="porcentaje" class="label">Porcentaje de descuento</label>
                                <input type="number" name="porcentaje" placeholder="10% OFF" value="<%=productID.discount%>">
                            
                            <!-- !ver como hacer para cargar las imagenes -->
                            <% if (productID.image !== "") {%>
                                <p>Tienes 1 imagen principal y <%=productID.extraImages.length%> imágenes extra cargadas. Para editarlas, carga las imágenes que deseas</p>
                            <% } %>
                            <label for="imagen-producto">Imagen Principal</label>
                            <input type="file" class="input-imagen" name="imagen-principal" accept=".jpg, .jpeg, .png">
                            
                            <label for="imagen-producto">Imagenes Extras</label>
                            <input type="file" class="input-imagen" name="imagenes-extra" accept=".jpg, .jpeg, .png" multiple>
                        </div>  
                    </div>

                    <label class="textarea-label" for="descripcion">Descripción del Producto</label>
                    <textarea name="descripcion" cols="30" rows="10"><% for (description of productID.description){%><%=description%>
<%}%></textarea>    

                    <label class="textarea-label" for="caracteristicas">Caracteristicas del producto</label>
                    
                    <div>
                        <div class="caja-caracteristicas">
                            <label for="textarea-label">Caracteristica 1:</label><input type='text' name="caracteristicas" value="<%= productID.features[0].title %>"  placeholder="titulo de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                            <label for="textarea-label">Descripcion 1:</label><input name="caracteristicas" value="<%= productID.features[0].text %>" placeholder="descripcion de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                        </div>
                        <div class="caja-caracteristicas">
                            <label for="textarea-label">Caracteristica 2:</label><input type='text' name="caracteristicas" value="<%= productID.features[1].title %>" placeholder="titulo de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                            <label for="textarea-label">Descripcion 2:</label><input name="caracteristicas" value="<%= productID.features[1].text %>" placeholder="descripcion de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                        </div>
                        <div class="caja-caracteristicas">
                            <label for="textarea-label">Caracteristica 3:</label><input type='text' name="caracteristicas" value="<%= productID.features[2].title %>" placeholder="titulo de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                            <label for="textarea-label">Descripcion 3:</label><input name="caracteristicas" value="<%= productID.features[2].text %>" placeholder="descripcion de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                        </div>
                        <div class="caja-caracteristicas">
                            <label for="textarea-label">Caracteristica 4:</label><input type='text' name="caracteristicas" value="<%= productID.features[3].title %>" placeholder="titulo de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                            <label for="textarea-label">Descripcion 4:</label><input name="caracteristicas" value="<%= productID.features[3].text %>" placeholder="descripcion de la caracteristica" required>
                            <span class="feedback-negativo">Este campo es obligatorio</span>
                        </div>
                    </div>
                    
                    <div>
                        <button type="submit" class="boton-submit">Guardar cambios</button>
                    </div>
                        
                </form>
               
                
                <hr>
            
                <div class="footer-form">
                    <a href="#" class="ayuda"><i class="bi bi-question-circle"></i> ¿Necesitas ayuda?</a>
                    <a href="/" class="volver-tienda">Volver a la tienda</i></a>
                    <p class="copyright">Copyright © 2023</p>
                </div>
            </div>             
        </div>
    </main>
</body>
</html>