<!DOCTYPE html>
<html lang="en">
    
<%- include('../partials/head', {title: "- Editar Producto", cssFile: "producto", cssHome: ""}) %>

<body>
    <main class="main-registro">
        <div class="contenedor-form">
            <img src="/images/Logo.png" alt="Logo" class="logo">

            <div class="form">
                <h2 class="title">Editar Producto</h2>
                
                <form action="/" method='POST' class="contenedor-registro">
                    <div class="datos">      
                        <div class="contenedor-datos1">
                            <label for="nombre" class="label">Nombre del producto</label>
                            <input type="text" name="nombre" class="input" placeholder="Nombre del producto" value="<%=productID.nombre%>" required>
                            <span class="feedback-negativo">El nombre es demasiado corto</span>

                            <label for="marca" class="label">Marca del Producto</label>
                            <input type="text" name="marca" class="input" placeholder="Marca del producto" value="<%=productID.marca%>" required>
                            
                            <label for="categoria">Categoría</label>
                            <select name="categoria">
                                <%- include('../partials/categorias-productos') %>
                            </select>
                        </div>

                        
                        <div class="contenedor-datos2">

                            <label for="precio">Precio</label>
                            <input type="number" name="precio" placeholder="$00,00" value="<%=productID.precioOriginal%>" required>

                            <%if (productID.enDescuento) {%>
                                <div class="contenedor-descuento">
                                    <label for="descuento">Descuento</label>
                                    <input type="checkbox" name="descuento" value="descuento" checked>
                                </div>
                                <label for="porcentaje" class="label">Porcentaje de descuento</label>
                                <input type="number" name="porcentaje" placeholder="10% OFF" value="<%=productID.descuento%>">
                            <% } else { %>
                                <div class="contenedor-descuento">
                                    <label for="descuento">Descuento</label>
                                    <input type="checkbox" name="descuento" value="descuento">
                                </div>
                                <label for="porcentaje" class="label">Porcentaje de descuento</label>
                                <input type="number" name="porcentaje" placeholder="10% OFF" disabled>
                            <% } %>
                            
                            <!-- !ver como hacer para cargar las imagenes -->
                            <label for="imagen-producto">Imagen Principal</label>
                            <input type="file" class="input-imagen" name="imagen-producto" accept=".jpg, .jpeg, .png">

                            <label for="imagen-producto">Imagenes Extras</label>
                            <input type="file" class="input-imagen" name="imagen-producto" accept=".jpg, .jpeg, .png" multiple>
                            
                        </div>  
                    </div>

                    <label class="textarea-label" for="descripcion">Descripción del Producto</label>
                    <textarea name="descripcion" cols="30" rows="5"><%- include('../partials/listar-datos-productos', {datos: productID.descripcion}) %></textarea>

                    <label class="textarea-label" for="caracteristicas">Caracteristicas del producto</label>
                    <textarea name="caracteristicas" cols="30" rows="5"><%- include('../partials/listar-datos-productos', {datos: productID.caracteristicas}) %></textarea>

                    <div>
                        <button type="submit" class="boton-registro">Guardar cambios</button>
                    </div>
                        
                </form>
               
                
                <hr>
            
                <div class="pie-formulario">
                    <a href="#" class="ayuda"><i class="bi bi-question-circle"></i> ¿Necesitas ayuda?</a>
                    <p class="copyright">Copyright © 2023</p>
                </div>
            </div>             
        </div>
    </main>
</body>
</html>