<!DOCTYPE html>
<html lang="en">
    
<%- include('../partials/head', {title: "- Crear Producto", cssFile: "producto", cssHome: ""}) %>

<body>
    <main class="main-producto">
        <div class="contenedor-form">
            <img src="/images/Logo.png" alt="Logo" class="logo">

            <div class="form">
                <h2 class="title">Crear Producto</h2>
                
                <form action="/products" method='POST' class="contenedor-producto" enctype="multipart/form-data">
                    <span class="errorSubmit"></span>
                    <div class="contenedor-datos"> 
                        <span class="campos-obligatorios"> * Estos campos son obligatorios</span>
                        <label for="nombre" class="label">Nombre del producto*</label>
                        <div class="caja-edit">
                            <input type="text" name="nombre" class="input" placeholder="Nombre del producto" value="<%= locals.oldData && oldData.nombre %>">
                            <span class="error feedback-negativo"></span>
                        </div>     
                        <% if(locals.errors && errors.nombre) { %>
                            <span class="feedback-negativo"><%= errors.nombre.msg %></span>
                        <% } %> 
                        
                        <label for="marca" class="label">Marca del Producto*</label>
                        <div class="caja-edit">
                            <select name="marca">
                                <option value="">Seleccionar Marca</option>
                                <% for (const marca of marcas) { %>
                                    <option value="<%= marca.idBrand %>" <%= locals.oldData && (oldData.marca == marca.idBrand) ? 'selected' : '' %>><%= marca.brandName %></option>
                                <% } %>
                            </select>
                            <span class="error feedback-negativo"></span>
                        </div>
                        <% if(locals.errors && errors.marca) { %>
                            <span class="feedback-negativo"><%= errors.marca.msg %></span>
                        <% } %>
                    
                        <label for="categoria">Categoría*</label>
                        <div class="caja-edit">
                            <select name="categoria">
                            <option value="">Seleccionar Categoria</option>
                                <% for (const categoria of categorias) { %>
                                    <option value="<%= categoria.idCategory %>" <%= locals.oldData && (oldData.categoria == categoria.idCategory) ? 'selected' : '' %>><%= categoria.categoryName %></option>
                                <% } %>
                            </select>
                            <span class="error feedback-negativo"></span>
                        </div>
                        <% if(locals.errors && errors.categoria) { %>
                            <span class="feedback-negativo"><%= errors.categoria.msg %></span> 
                        <% } %>
                        
                        <label for="precio">Precio*</label>
                        <div class="caja-edit">
                            <input type="text" name="precio" placeholder="Colocar los numeros sin comas ni puntos. Ej: 2400" value="<%= locals.oldData && oldData.precio %>">
                            <span class="error feedback-negativo"></span>
                        </div>
                        <% if(locals.errors && errors.precio) { %>
                            <span class="feedback-negativo"><%= errors.precio.msg %></span>
                        <% } %>
                        
                        <label for="porcentaje" class="label">Porcentaje de descuento*</label>
                        <div class="caja-edit">
                            <input type="text" name="porcentaje" placeholder="Si no tiene descuento colocar un cero. Ej: 0" value="<%= locals.oldData && oldData.porcentaje %>">
                            <span class="error feedback-negativo"></span>
                        </div>
                        <% if(locals.errors && errors.porcentaje) { %>
                            <span class="feedback-negativo"><%= errors.porcentaje.msg %></span>
                        <% } %>

                        <label for="esDestacado">¿Es un producto destacado?*</label>
                        <div class="caja-edit">
                            <select name="esDestacado">
                            <option value="">Seleccionar Opcion</option>
                                <% const esDestacadoOpciones = ['true', 'false']; %>
                                <% for (const option of esDestacadoOpciones) { %>
                                    <option value="<%= option %>" <%= locals.oldData && (oldData.esDestacado == option) ? 'selected' : '' %>><%= option == 'true' ? 'Si' : 'No' %></option>
                                    <% } %>
                            </select>
                            <span class="error feedback-negativo"></span>
                        </div>
                        <% if(locals.errors && errors.esDestacado) { %>
                            <span class="feedback-negativo"><%= errors.esDestacado.msg %></span>
                        <% } %>

                        <label for="stock">Stock*</label>
                        <div class="caja-edit">
                            <input type="number" name="stock" class="input" placeholder="Stock del producto" value="<%=locals.oldData && oldData.stock %>">
                            <span class="error feedback-negativo"></span>
                        </div>
                        <% if(locals.errors && errors.stock) { %>
                            <span class="feedback-negativo"><%= errors.stock.msg %></span>
                        <% } %>

                        <label for="imagenPrincipal">Imagen Principal*</label>
                        <div class="caja-edit">
                            <input type="file" class="input-imagen" name="imagenPrincipal">
                            <span class="error feedback-negativo"></span>
                        </div>
                        <% if(locals.errors && errors.imagenPrincipal) { %>
                            <span class="feedback-negativo"><%= errors.imagenPrincipal.msg %></span>
                        <% } %>

                        <label for="imagenesExtra">Imagenes Extra</label>
                        <div class="caja-edit">
                            <input type="file" class="input-imagen" name="imagenesExtra" multiple>
                            <span class="error feedback-negativo"></span>
                        </div>
                        <% if(locals.errors && errors.imagenesExtra) { %>
                            <span class="feedback-negativo"><%= errors.imagenesExtra.msg %></span>
                        <% } %>

                    </div>

                    <label class="textarea-label" for="descripcion">Descripción del Producto*</label>
                    <div class="edit-text">
                        <textarea name="descripcion" cols="30" rows="10" placeholder="Escribir titulo y separado con un enter la descripcion correspondiente"><%=locals.oldData && oldData.descripcion%></textarea>
                        <span class="error feedback-negativo"></span>
                    </div>
                    <% if(locals.errors && errors.descripcion) { %>
                        <span class="feedback-negativo"><%= errors.descripcion.msg %></span>
                    <% } %>

                    <div class="caracteristicas-del-producto">
                        <label class="textarea-label" for="caracteristicas">Caracteristicas del producto*</label>
                        <span class="error feedback-negativo"></span>
                    </div>

                    <div class="caja-caracteristicas">
                        <label for="textarea-label">Caracteristica 1:</label>
                        <select name="caracteristica1" class="caracteristica">
                            <option value="">Seleccionar Caracteristica</option>
                            <% for (const caracteristica of caracteristicas) { %>
                                <option value="<%= caracteristica.idFeature %>" <%= locals.oldData && (oldData.caracteristica1 == caracteristica.idFeature) ? 'selected' : '' %>><%= caracteristica.feature %></option>
                            <% } %>
                        </select>
                        <span class="error feedback-negativo"></span>
                        <% if(locals.errors && errors.caracteristica1) { %>
                            <span class="feedback-negativo"><%= errors.caracteristica1.msg %></span>
                        <% } %>
                    </div>

                    <div class="caja-caracteristicas">
                        <label for="textarea-label">Caracteristica 2:</label>
                        <select name="caracteristica2" class="caracteristica">
                            <option value="">Seleccionar Caracteristica</option>
                            <% for (const caracteristica of caracteristicas) { %>
                                <option value="<%= caracteristica.idFeature %>" <%= locals.oldData && (oldData.caracteristica2 == caracteristica.idFeature) ? 'selected' : '' %>><%= caracteristica.feature %></option>
                            <% } %>
                        </select>
                        <span class="error feedback-negativo"></span>
                        <% if(locals.errors && errors.caracteristica2) { %>
                            <span class="feedback-negativo"><%= errors.caracteristica2.msg %></span>
                        <% } %>
                    </div>

                    <div class="caja-caracteristicas">
                        <label for="textarea-label">Caracteristica 3:</label>
                        <select name="caracteristica3" class="caracteristica">
                            <option value="">Seleccionar Caracteristica</option>
                            <% for (const caracteristica of caracteristicas) { %>
                                <option value="<%= caracteristica.idFeature %>" <%= locals.oldData && (oldData.caracteristica3 == caracteristica.idFeature) ? 'selected' : '' %>><%= caracteristica.feature %></option>
                            <% } %>
                        </select>
                        <span class="error feedback-negativo"></span>
                        <% if(locals.errors && errors.caracteristica3) { %>
                            <span class="feedback-negativo"><%= errors.caracteristica3.msg %></span>
                        <% } %>
                    </div>

                    <div class="caja-caracteristicas">
                        <label for="textarea-label">Caracteristica 4:</label>
                        <select name="caracteristica4" class="caracteristica">
                            <option value="">Seleccionar Caracteristica</option>
                            <% for (const caracteristica of caracteristicas) { %>
                                <option value="<%= caracteristica.idFeature %>" <%= locals.oldData && (oldData.caracteristica4 == caracteristica.idFeature) ? 'selected' : '' %>><%= caracteristica.feature %></option>
                            <% } %>
                        </select>
                        <span class="error feedback-negativo"></span>
                        <% if(locals.errors && errors.caracteristica4) { %>
                            <span class="feedback-negativo"><%= errors.caracteristica4.msg %></span>
                        <% } %>
                    </div>
                    
                    <div>
                        <button type="submit" class="boton-submit">Crear Producto</button>
                    </div>
                        
                </form>
               
                
                <hr>
            
                <div class="footer-form">
                    <a href="/" class="volver-tienda"><i class="bi bi-caret-left"></i> Volver a la tienda</i></a>
                    <a class="volver-tienda" href="/users/menu-admin"><i class="bi bi-person-lines-fill"></i> Volver al menu</a>
                    <p class="copyright">Copyright © 2023/24</p>
                </div>
            </div>             
        </div>
    </main>

    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/js/validaciones/crearProducto.js"></script>
</body>
</html>