<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "- Menú Admin", cssFile: "menuAdmin", cssHome: "styles"}) %>
<body>
    <main id="main-menuAdmin">
        <div class="container-menuAdmin">
            <img src="/images/Logo.png" alt="Logo" class="logo-menuAdmin">

            <div class="caja-form-menuAdmin">
                <h2>Menú Administrador</h2>
                <% if (locals.usuarioLog && locals.usuarioLog.idRoleFK == 2) { %>
                    <h3>¿Qué es lo que deseas hacer, <%= locals.usuarioLog.firstName %>?</h3>
                <% } %>
                
                <div class="container-btns-menuAdmin">
                    <button><a href="/users/registro-admin">Añadir nuevo admin</a></button>

                    <button><a href="/products/crearProducto">Añadir nuevo producto</a></button>

                    <button><a target="_blank" href="http://localhost:5173">Ir al Dashboard <i class="bi bi-box-arrow-up-right"></i></a></button>
                </div>
                
                <p></p>

                <hr class="divider">

                <button class="btnCaracteristica">Añadir nueva característica</button>
                <form action="/products/nuevaCaracteristica" method="POST" class="form_caracteristica oculto">
                    <div>
                        <div class="caja-menuAdmin">
                            <label>Nombre de la característica</label>
                            <input type="text" name="nombreCaracteristica" placeholder="Ej: Memoria RAM" value="<%= locals.oldData && oldData.nombreCaracteristica %>"/>
                            <span class="error feedback-negativo"></span>
                            <% if(locals.errors && errors.nombreCaracteristica) { %>
                                <span class="feedback-negativo"><%= errors.nombreCaracteristica.msg %></span>
                            <% } %>
                        </div>
                        <div class="caja-menuAdmin">
                            <label>Descripción de la caracteristica</label>
                            <input type="text" name="descriptCaracteristica" placeholder="Ej: 3 GB" value="<%= locals.oldData && oldData.descriptCaracteristica %>"/>
                            <span class="error feedback-negativo"></span>
                            <% if(locals.errors && errors.descriptCaracteristica) { %>
                                <span class="feedback-negativo"><%= errors.descriptCaracteristica.msg %></span>
                            <% } %>
                        </div>
                        <button type="submit">Guardar <i class="bi bi-database-check"></i></button>
                    </div>
                    <a href="/users/menu-admin">Atrás</a>
                </form>
                
                <button class="btnMarca">Añadir nueva marca</button>
                <form action="/products/nuevaMarca" method="POST" class="form_marca oculto">
                    <div>  
                        <div class="caja-menuAdmin">
                            <label>Nombre de la marca</label>
                            <input type="text" name="nombreMarca" placeholder="Ej: Samsung" value="<%= locals.oldData && oldData.nombreMarca %>"/>
                            <span class="error feedback-negativo"></span>
                            <% if(locals.errors && errors.nombreMarca) { %>
                                <span class="feedback-negativo"><%= errors.nombreMarca.msg %></span>
                            <% } %>
                        </div> 
                        <button type="submit" class="guardar">Guardar <i class="bi bi-database-check"></i></button>
                    </div>
                    <a href="/users/menu-admin">Atrás</a>
                </form>

                <button class="btnCategoria">Añadir nueva categoría</button>
                <form action="/products/nuevaCategoria" method="POST" class="form_categoria oculto">
                    <div>  
                        <div class="caja-menuAdmin">
                            <label>Nombre de la categoría</label>
                            <input type="text" name="nombreCategoria" placeholder="Ej: Tablets" value="<%= locals.oldData && oldData.nombreCategoria %>"/>
                            <span class="error feedback-negativo"></span>
                        </div>
                        <% if(locals.errors && errors.nombreCategoria) { %>
                            <span class="feedback-negativo"><%= errors.nombreCategoria.msg %></span>
                        <% } %>
                        <button type="submit">Guardar <i class="bi bi-database-check"></i></button>
                    </div> 
                    <a href="/users/menu-admin">Atras</a>
                </form>

                <p class="mensaje"><%= locals.mensaje && locals.mensaje %></p>
                
                <hr class="divider">

                <button class="btnBorrarCaracteristica"> <a href="/users/menu-admin/borrar">Eliminar una característica, una marca o una categoria</a> </button>

                <p class="mensaje"><%= locals.mensajeBorrar && locals.mensajeBorrar %></p>

            </div>
        

            <hr>
            
            <div class="footer-form">
                <a href="/" class="volver-tienda"><i class="bi bi-caret-left"></i> Volver a la tienda</i></a>
                <p>Copyright © 2023/24</p>
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/js/menuAdmin.js"></script>
</body>
</html>