<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "- Home", cssFile: "styles", cssHome: ""}) %>
<body>
    <!--  !HEADER  -->
    <%- include('../partials/header.ejs') %>

    <!-- !BANNER -->
    <img src="/images/banner.jpg" alt="Banner" id="banner">

    <!-- !MAIN  -->
    <main>
        <!--  * CARRUSEL 1 -->
        <section>
            <h2 class="titulo-section">Promociones y descuentos</h2>
        
            <div class="lista-promociones">
                <div>
                    <p><i class="bi bi-chevron-left icono-flecha-izquierda"></i></p>
                </div>
        
                <!--  ARTICULOS  -->
                <%- include('../partials/carrusel-promociones.ejs') %>
                
                <div>
                    <i class="bi bi-chevron-right icono-flecha-derecha"></i>
                </div>
            </div>
            <!-- * FIN CARRUSEL 1 -->
        
        </section>
        <!-- * FIN PRIMERA SECCION -->
        

        <!--  * CARRUSEL 2  -->
        <section>
            <h2 class="titulo-section">Productos Destacados</h2>
        
            <div class="lista-productos">
                <div>
                    <i class="bi bi-chevron-left icono-flecha-izquierda"></i>
                </div>
                <!--  ARTICULOS -->
                <%- include('../partials/carrusel-destacados.ejs') %>
                <!--  TODO: MAS ARTICULOS  -->
                <div>
                    <i class="bi bi-chevron-right icono-flecha-derecha"></i>
                </div>
            </div>
            <!-- * FIN CARRUSEL 2 -->
        </section>
        <!-- * FIN SEGUNDA SECCION -->


        <!-- * CONTACTO -->
        <section>
            <h2 class="titulo-section">Seguinos en nuestras redes</h2>
            <div class="lista-redes">
                <a href="https://www.facebook.com/?locale=es_LA" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter-x"></i></a>
            </div>
        </section>
        <!-- * FIN TERCERA SECCION -->

        <!-- <% //if (locals.usuarioLog && locals.usuarioLog.idRoleFK == 2) { %>
            <a href="../products/crearProducto" class="crear-producto">
                <i class="bi bi-plus-square-fill"></i>
            </a>
        <% //} %> -->
        
    </main>

    <!--  !FOOTER   -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>
