<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "- " + titulo, cssFile: "styles", cssHome: ""}) %>
<body>
    <!--  !HEADER  -->
    <%- include('../partials/header.ejs') %>
    <nav class="navbar-inferior">
      <div class="swiper swiperNav">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <a href="../../products">Ver Todo</a>
              </div>
              <% for (categoria of categorias) { %>
                  <div class="swiper-slide">
                      <a href="../../products/<%= categoria.categoryName %>"> <%= categoria.categoryName%></a>
                  </div>
              <% } %>
          </div>
      </div>
  </nav>
</header>

    <!-- !MAIN  -->
  <main>
    <section>
    <h2 class="titulo-section"><%= titulo %></h2>
    <% let imagenPrincipal = "" %>
    <% if (resultados.length) { %>
      <div class="lista-promociones" style= <%= resultados.length == 2 ? 'justify-content:' + 'space-evenly' : ''%> >
        <% for (resultado of resultados) { %>
          <% for (imagen of resultado.images) { %>
                <% if (imagen.mainImage) { %>
                  <% imagenPrincipal = imagen.url
                  break;
                 } %>
              <% } %>
          <% if (!resultado.onDiscount) { %>
            <article class="tarjeta-articulo">
              <img src="<%= imagenPrincipal %>" alt="Imagen Producto" class="imagen-producto">
              <div class="caja-precio">
                <h3><%= resultado.productName %></h3>
                <h4>$<%= calcularMiles(resultado.originalPrice) %></h4>
                <% if (resultado.stock > 0) { %>
                  <h5>Retiralo HOY! <i class="bi bi-box2-heart"></i></h5>
                <% } else {%>
                  <h5 style="color: red;">Sin Stock </h5>
                <% } %>
              </div>              
              <% if (locals.usuarioLog && locals.usuarioLog.idRoleFK == 2) { %>
                <a href="../products/detalleProducto/<%= resultado.idProduct %>" class="boton-compra">Ver</a>
              <% } else {%>
                <% if (resultado.stock > 0) { %>
                  <a href="../products/detalleProducto/<%= resultado.idProduct %>" class="boton-compra">Comprar</a>
                <% } else {%>
                  <a href="../products/detalleProducto/<%= resultado.idProduct %>" class="boton-compra">Ver</a>
                <% } %>
              <% } %>
            </article>
          <% } else {%>
            <% precioDescuento = calcularDescuento(resultado.originalPrice, resultado.discount)%>
            <article class="tarjeta-promocion">
              <div class="caja-imagen-descuento">
                  <img src="<%= imagenPrincipal %>" alt="Imagen Producto" class="imagen-producto" />
                  <p class="descuento"><%= resultado.discount + '%' %><br />OFF</p>
              </div>
              <div class="caja-precio">
                <h3><%= resultado.productName %></h3>
                <h4 class="precio-original"> <%= '$' + calcularMiles(resultado.originalPrice) %> </h4>
                <h3><%= '$' + calcularMiles(precioDescuento) %></h3>
                <% if (resultado.stock > 0) { %>
                  <h5>Envío gratis <i class="bi bi-truck"></i></h5>
                <% } else {%>
                  <h5 style="color: red;">Sin Stock </h5>
                <% } %>
              </div>
              <% if (locals.usuarioLog && locals.usuarioLog.idRoleFK == 2) { %>
                <a href="../products/detalleProducto/<%= resultado.idProduct %>" class="boton-compra">Ver</a>
              <% } else {%>
                <a href="../products/detalleProducto/<%= resultado.idProduct %>" class="boton-compra">Comprar</a>
              <% } %>
            </article>
          <% }%>
        <% } %>
      </div>
    </section>
    <% } else {%>
      <h2 style="margin:80px 0 90px 0"> No se encontraron productos para mostrar </h2>
    <% } %>
  </main>

  <!--  !FOOTER   -->
  <%- include('../partials/footer.ejs') %>
  <script src="/js/comportamientoMovil.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/js/carruselNav.js"></script>
</body>
</html>
